@inherits LayoutComponentBase

<PageTitle>BlazorAppTEST</PageTitle>

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu/>
        </div>
    </AuthorizeView>
    
    <main>
        <div class="top-row px-4">
            <!--Login-->
            <NavLink class="custom-nav-link" href="LoginPage">
                <img src="LoginIcon.png" alt="Login Icon" class="login-image"/>
                Login
            </NavLink>

            <!--Create New User -->
            <NavLink class="custom-nav-link" href="CreateUserPage">
                <img src="CreateUserIcon.png" alt="Create User Icon" class="login-image"/>
                Create User
            </NavLink>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>