@inherits LayoutComponentBase

<PageTitle>BlazorAppTEST</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    </head>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>