@page "/ChangePasswordPage"
@using BlazorAppTEST.Services.Auth
@using BlazorAppTEST.Services
@using ClassLibrary_SEP3
@using ClassLibrary_SEP3.DataTransferObjects
@using Task = System.Threading.Tasks.Task
@inject NavigationManager NavigationManager
@inject IUserLogin userService


<div class="full-page">
    <div class="login-container">
        <h3 style="font-weight: bold">Change Password</h3>
        <div>
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" @bind="CurrentPassword" />
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" @bind="NewPassword" />
        </div>
        <div>
            <button style="font-weight: bold" @onclick="ChangePassword">Change Password</button>
        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p style="color: red;">@ErrorMessage</p>
        }
    </div>
</div>



@code {
    string CurrentPassword { get; set; }
    string NewPassword { get; set; }
    string ErrorMessage { get; set; }


    private async Task ChangePassword()
    {
        var changePasswordRequest = new ChangePasswordRequest()
		{
			CurrentPassword = this.CurrentPassword,
			NewPassword = this.NewPassword
		};

        try
        {
            await userService.ChangePassword(changePasswordRequest);
            NavigationManager.NavigateTo("/");
        }

        catch (Exception e)
        {
            ErrorMessage = "Failed to change password";
            Console.WriteLine(e);
        }
    }
}