@page "/CreateUserPage"
@inject UserService UserService
@using BlazorAppTEST.Services
@using ClassLibrary_SEP3
@using Task = System.Threading.Tasks.Task
<div class="full-page">
    <div class="login-container">
        <h3 style="font-weight: bold">Create</h3>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" @bind="Username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" @bind="Password"/>
        </div>
        <div>
            <button style="font-weight: bold" @onclick="CreateUser">Create User</button>
        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p style="color: red">@ErrorMessage</p>
        }
    </div>
</div>



@code 
{
    string Username { get; set; }
    string Password { get; set; }
    string ErrorMessage { get; set; }

    
    
    private async Task CreateUser()
    {
        var User = new User()
        {
            Username = this.Username,
            Password = this.Password
        };
        
        await UserService.createUser(User);
    }
}