@page "/edit-logbook-entry/{EntryID}"
@inject ILogBookService LogBookService
@inject NavigationManager NavigationManager
@using ClassLibrary_SEP3
@using BlazorAppTEST.Services

<h3>Edit Logbook Entry</h3>


