@page "/projects"
@using ProjectMicroservice.Models
@using MainWeb.Services
@inject ProjectService ProjectService

<h2>Projects</h2>

<div class="container-fluid">
    <div class="container">
        @foreach (var project in projects)
        {
            <div class="card">
                <h3>@project.Name</h3>
                <p>Description: @project.Description</p>
                <p>Start Date: @project.StartDate.ToShortDateString()</p>
                <p>End Date: @project.EndDate.ToShortDateString()</p>
            </div>
        }
    </div>
</div>

@code 
{
    private List<Project>? projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = (List<Project>)(await ProjectService.GetAllProjects())!;
    }
}
