@page "/projectcreation"
@inject ProjectService Project_Service
@using Task = System.Threading.Tasks.Task
@using BlazorAppTEST.Services
@using ProjectMicroservice.DataTransferObjects


<div class="container">
    <div class="card">
        <!-- Project Creation Form -->
        <h3>Project Creation</h3>
        <EditForm Model="newProject" OnValidSubmit="CreateProject">
            <div class="form-group">
                <label for="name">Project Name:</label>
                <InputText id="name" class="form-control" @bind-Value="newProject.Name"/>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <InputTextArea id="description" class="form-control" @bind-Value="newProject.Description"></InputTextArea>
            </div>

            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <InputDate id="startDate" class="form-control" @bind-Value="newProject.StartDate"></InputDate>
            </div>

            <div class="form-group">
                <label for="endDate">End Date:</label>
                <InputDate id="endDate" class="form-control" @bind-Value="newProject.EndDate"></InputDate>
            </div>

            <button type="submit" class="button">Create</button>
        </EditForm>
    </div>
</div>


@if (createdProject != null)
{
    <div class="container-fluid">
        <div class="card">
            <h3 style="color: lime;">Created Project Successfully!</h3>
            <p>
                <strong>Name:</strong> @createdProject.Name
            </p>
            <p>
                <strong>Description:</strong> @createdProject.Description
            </p>
            <p>
                <strong>Start Date:</strong> @createdProject.StartDate.ToShortDateString()
            </p>
            <p>
                <strong>End Date:</strong> @createdProject.EndDate.ToShortDateString()
            </p>
        </div>
    </div>
}


@code {
    private CreateProjectRequest newProject = new();
    private CreateProjectRequest createdProject;


    private async Task CreateProject()
    {
        createdProject = newProject; // Display the created project
        await Project_Service.CreateProject(newProject); //Send it through the service
        newProject = new CreateProjectRequest(); // Clear the form
    }

}