@page "/backlog/{BacklogId:int}"
@using ProjectMicroservice.Models
@using Task = System.Threading.Tasks.Task
@using BlazorAppTEST.Services
@using ClassLibrary_SEP3
@inject RequirementService RequirementService

<h2>Requirements for Backlog @BacklogId</h2>

<!-- List Requirements -->
@foreach(var requirement in requirements)
{
    <div>
        @requirement.Description (@requirement.Status)
    </div>
}


<!-- Add New Requirement -->
<div>
    <input @bind="newRequirement.Description" placeholder="Enter requirement description" />
    <input @bind="newRequirement.Priority" placeholder="Enter requirement description" />
    <button @onclick="AddRequirement">Add Requirement</button>
</div>

@code {
    [Parameter] public int BacklogId { get; set; }
    private List<Requirement> requirements = new List<Requirement>();
    private Requirement newRequirement = new Requirement();

    
    
    protected override async Task OnInitializedAsync()
    {
        requirements = await RequirementService.GetRequirementsForBacklog(BacklogId);
    }

    private async Task AddRequirement()
    {
        newRequirement.BacklogId = BacklogId;
        await RequirementService.AddRequirement(newRequirement);
        requirements.Add(newRequirement);
        newRequirement = new Requirement();
    }
}