.container[b-3z6gj7uq9n] {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(5, 39, 103, 0.2); /* Dark blue background with 20% opacity */
}

.card[b-3z6gj7uq9n] {
    width: 50%;
    border: none;
    background: linear-gradient(135deg, rgba(5, 39, 103, 0.9), rgba(58, 6, 71, 0.9)); /* Gradient background from dark blue to dark purple */
    color: #d7d7d7; /* Light gray text */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000000;
    padding: 20px;
}

.form-group[b-3z6gj7uq9n] {
    margin-bottom: 1rem;
}

.form-control[b-3z6gj7uq9n] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1); /* Very light translucent background */
    color: white;
}

.form-control:focus[b-3z6gj7uq9n] {
    outline: none;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.button[b-3z6gj7uq9n] {
    background-color: rgba(255,255,255,0.1); /* Very light translucent background */
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid #d7d7d7; /* Light gray border */
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover[b-3z6gj7uq9n] {
    background-color: rgba(255,255,255,0.25); /* Slightly darker when hovered */
    border: 1px solid white;
}
